/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* AutoComplete */

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: sans-serif;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   list-style: none;
 }

 .navBar {
   display: flex;
   justify-content: space-AROUND;
   align-items: baseline;
   align-content: center;
   padding: 0;
   background: #ffc840;
   color: white;
   font-size: 20px;
   border-bottom: 1px solid gray;
 }

 .logo {
   display: flex;
   font-family: 'Lalezar', cursive;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-weight: bold;
 }

 .header-title {
   position: absolute;
   font-family: 'Lalezar', cursive;
   /* font-family: 'UnifrakturMaguntia', cursive; */
   font-size: 60px;
   margin-bottom: 0;
   z-index: 0;
 }

 .subtitle {
   position: relative;
   margin-top: 70px;
   flex-flow: wrap;
   font-family: 'Lalezar', cursive;
   font-size: 15px;
   z-index: 1;
 }

 .sign-name-parent {
   display: flex;
   justify-content: flex-end;
   align-self: center;
 }

 .sign-user {
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
 }

 .submit {
   color: white;
   background: #ffc840;
   border-radius: 5px;
   padding: 5px 105px;
   margin-top: 10px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
 }

 .demo {
   color: #ffc840;
   background: white;
   padding: 5px 80px;
   border-radius: 5px;
   margin-top: 10px;
   border: 1px solid #ffc840;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
 }

 .submit:hover {
   background: white;
   background: #DAA520;
 }


 .text-box-box {
   display: flex;
   align-content: space-between;
   padding: 10px;
   border: 1px solid lightgrey;
   color: lightgrey;
   border-radius: 5px;
   margin: 15px;
 }

 .line {
   color: lightgrey

 }

 .errors {
   padding: 1px;
   font-size: 15px;
   font-family: sans-serif;
   font-weight: bold;
   border-radius: 5px;
   color: white;
   background: #ff6666;
 }

 .broke-parent {
   margin: 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

 }

 .broken {
   color: red;
 }

 .fixed {
   color: red;
   text-shadow: 8px 8px 8px 8px pink;
 }
