// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drink-form-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: lightgrey;
}

.drink-form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  border: 1px solid lightgrey;
  width: 600px;
  height: 700px;
  margin: 10%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.bottle-edit-labels {
  align-self: flex-start;
  margin-left: 90px;
  font-weight: bold;


}

.drop-bar {
  color: grey;
  width: 200px;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: monospace;
  align-self: flex-start;
  margin: 20px;
  margin-left: 90px;
  font-weight: lighter;
  border: 1px solid white;

}

.form-text {
  margin: 15px;
  border: 1px solid lightgrey;
  width: 70%;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

}

.label-preview {
  height: 10%;
  width: 20%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border: 1px solid lightgrey;
}

.drink-index-parent {
  display: flex;

}


.drink-index {
  display: flex;
  align-items: flex-end;
  margin: 10%;
  flex-direction: column;
}

.drink-list {
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  width: 15%;
  height: 15%;
}

.drink-item {
  padding: 10px;
  border-bottom: 1px solid lightgrey;

}
