// Place all the styles related to the drinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-and-drink-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.drink-form-parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: lightgrey;
}

.drink-form {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  border: 1px solid lightgrey;
  width: 600px;
  height: 700px;
  margin: 0;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  z-index: 1;
}

.bottle-edit-labels {
  align-self: flex-start;
  margin-left: 90px;
  font-weight: bold;


}

.drop-bar {
  color: grey;
  width: 200px;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  font-family: monospace;
  align-self: flex-start;
  margin: 20px;
  margin-left: 90px;
  font-weight: lighter;
  border: 1px solid white;

}

.form-text {
  margin: 15px;
  border: 1px solid lightgrey;
  width: 70%;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);

}

.label-preview {
  width: 30%;
  height: auto;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border: 1px solid lightgrey;
}


.drink-index-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.drink-index {
  max-width: 15%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.drink-list {
  min-width: 30%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

.drink-item {
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  min-width: 190px;
}

.drink-item:hover {
  transform: scale(1.05);
}

.p-i-i-photo{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  height: 90%;
  width: 90%;
  min-width: 171px;
}

.create-drink {
  margin: 40px;
  min-width: 171px;
  background: #ffc840;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: white;
  text-align: center;
}


.dp-image-title-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottle-title {
}

.dp-link-parent {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  color: white;
}

.drink-panel-links {
  padding: 5px;
  margin: 2px;
  background: #ffc840;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.search-parent {
  margin: 50px;
  margin-top: 40px;
  margin-right: 0;
  min-width: 190px;
  min-height: 30px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: lightgrey;
  height: 30px;
}

.search {
  color: lightgrey;
  margin: 4px;
  position: absolute;
  max-width: 27%;
}
