
 .session-log {
   padding: 200px;
    width: 100%;
    height: 100%;
    background-image: image_url('tumblr_oncanuPoeb1qjpa2jo1_1280.gif');
    background-position: center;
    object-fit: fill;
    background-size: cover;
 }

 .title{
   padding: 20px;
   font-family: 'UnifrakturMaguntia', cursive;


 }

.log-form {
  height: 20%;
  width: 40%;
  display: flex;
  margin: auto;
  background: black;
  color: white;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  opacity: 0.6;
  font-size: 50px;
  font-family: 'UnifrakturMaguntia', cursive;

}

.submit {
  border: 1px solid white;
  padding: 10px;
}

.submit:hover {
  background: white;
  color: black;
}

.text-box {
  height: 20px;
  width: 90%;
  border: 1px solid white;
  margin: auto;
}
