// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-form-parent {
  margin: 0;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1);
  border-radius: 2px;
  margin-bottom: 50px;
  z-index: 1;
}

.post-body {
  align-self: space-around;
  border-radius: 2px;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1)
}

.main-post-pic {
  margin: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1)

}

.post-label {
  align-self: flex-start;
  margin: 30px;
  margin-left: 0;
  object-fit: cover;
}

.slider {
  -webkit-appearance: none;
    width: 100%;
    padding: 5px;
    margin: 50px;
    height: 1px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1)

}

.post-form-pic {
  width: 100%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: gold;
    cursor: pointer;
    border-radius: 50%;
}


.all-posts-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-top: 10%;
  z-index: 0;
  width: 300px;
  height: auto;
}

.all-posts {
  width: 50px;
  height: 60px;
  margin: 50px;
  z-index: 1;
}

.single-post {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 500px;
  border: 1px solid lightgrey;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1);
  border-radius: 5px;
  z-index: 1;

}

.post-panel-link-parent {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.post-panel-link {
  padding: 5px;
  color: white;
  background: #ffc840;
  border-radius: 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.1);
  margin: 5px;
  width: 10%;
  border-radius: 2px;
  text-align: center;
  border: 1px solid lightgrey;
}

.post-content {
  margin: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0,0.1);
  border-radius: 4px;
  padding: 5px;
  border: 1px rgb(230, 230, 213);
}

.post-intro {
  display: flex;
  margin: 5px;
}

.username {
  color: rgb(205, 132, 22);
  font-weight: lighter;
  align-self: center;
  text-transform: capitalize;
}

.textmid {
  align-self: center;
  color: black;
}

.progress {
  background: grey;
  margin-left: 20%;
  border-radius: 10px;
  margin-right: 20%;
}
.progress-bar {
  background: gold;
  color: black;
  border-radius: 10px;
  text-align: center;
}

.post-content-photo-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.index-post-photo {
  margin: 10px;
  height: 85%;
  width: 85%;
  align-self: center;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.1);
}
