.profile {
display: flex;
flex-direction: column;
}

.mural {
  position: absolute;
  max-height: 400px;
  width: 100%;
  z-index: 1;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.profile-picture {
  position: relative;
  z-index: 2;
  height: 150px;
  width: 150px;
  margin-top: 320px;
  margin-left: 15%;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.profile-name {
  position: relative;
  z-index: 2;
  color: grey;
  margin-left: 25%;
}
