.user-prof-post-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightgrey;
  margin: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

.user-prof-photo {
  max-width: 80px;
  margin: 5px;
}

.user-prof-body {
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
}

.user-prof-post-pics {
  margin: 10px;

  max-height: 300px;
  align-self: center;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
